<!DOCTYPE html>
<html>
    <head>
        {{>link}}
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
 
        <style>
          
            :root {
  --black: rgba(0, 0, 0, 1);
  --new-car: rgba(26, 67, 213, 1);
  --alizarin-crimson: rgba(229, 23, 23, 1);
  --orange-red: rgba(239, 27, 27, 1);
  --scarlet: rgba(248, 18, 18, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-xs: 30px;
  --font-size-s: 18px;
  --font-size-l: 26px;
  --font-size-xl: 64px;
  --font-size-xxxl: 144px;
  --font-size-m2: 24px;
  --font-size-l2: 48px;
  --font-size-l2: 56px;
  --font-size-m22: 36px;
  --font-size-xl2: 40px;
  --font-size-xxl2: 72px;
  --font-size-xxl22: 96px;

  --font-family-ribeye: "Ribeye";
  --font-family-ribeye-regular: "Ribeye-Regular";
  --font-family-ribeye_marrow: "Ribeye Marrow";
  --font-family-roboto: "Roboto";
  --font-family-roboto-regular: "Roboto-Regular";
  --font-family-roboto_mono: "Roboto Mono";
  --font-family-roboto_mono-regular: "Roboto Mono-Regular";
  --font-family-rowdies: "Rowdies";
  --font-family-ruda: "Ruda";
  --font-family-ruthie: "Ruthie";
  --font-family-ruthie-regular: "Ruthie-Regular";
}
.ribeyemarrow-normal-black-40px {
  color: var(--black);
  font-family: var(--font-family-ribeye_marrow);
  font-size: var(--font-size-xl2);
  font-weight: 400;
  font-style: normal;
}
.border-1px-black {
  border-width: 1px;
  border-style: solid;
  border-color: var(--black);
}
.ruthie-regular-normal-orange-red-36px {
  color: var(--orange-red);
  font-family: var(--font-family-ruthie-regular);
  font-size: var(--font-size-m22);
  font-weight: 400;
  font-style: normal;
}
.ruthie-normal-black-72px {
  color: var(--black);
  font-family: var(--font-family-ruthie);
  font-size: var(--font-size-xxl2);
  font-weight: 400;
  font-style: normal;
}
.ribeyemarrow-normal-scarlet-40px {
  color: var(--scarlet);
  font-family: var(--font-family-ribeye_marrow);
  font-size: var(--font-size-xl2);
  font-weight: 400;
  font-style: normal;
}
.ribeyemarrow-normal-white-40px {
  font-family: var(--font-family-ribeye_marrow);
  font-size: var(--font-size-xl2);
  font-weight: 400;
  font-style: normal;
}
.ruthie-normal-orange-red-36px {
  color: var(--orange-red);
  font-family: var(--font-family-ruthie);
  font-size: var(--font-size-m22);
  font-weight: 400;
  font-style: normal;
}
.ruthie-regular-normal-black-72px {
  color: var(--black);
  font-family: var(--font-family-ruthie-regular);
  font-size: var(--font-size-xxl2);
  font-weight: 400;
  font-style: normal;
}
.robotomono-normal-orange-red-24px {
  color: var(--orange-red);
  font-family: var(--font-family-roboto_mono);
  font-size: var(--font-size-m2);
  font-weight: 400;
  font-style: normal;
}
.roboto-bold-black-18px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-weight: 700;
  font-style: normal;
}
.ruthie-normal-black-96px {
  color: var(--black);
  font-family: var(--font-family-ruthie);
  font-size: var(--font-size-xxl22);
  font-weight: 400;
  font-style: normal;
}
.ruthie-normal-orange-red-40px {
  color: var(--orange-red);
  font-family: var(--font-family-ruthie);
  font-size: var(--font-size-xl2);
  font-weight: 400;
  font-style: normal;
}

                   body {
           color: #000;
           background-repeat: no-repeat;
           width:100%;
            background: linear-gradient(to bottom right, #99ffcc 0%, #ffffff 100%);
       }
       
       * {
           box-sizing: border-box;
       }
       
       html {
          scroll-behavior: smooth;
       }
       
       .container{
         width:100%;
         background-color: whitesmoke;
       }
       .b1 {
           display: flex;
           flex-wrap: wrap;
           flex-flow: row;
           text-align: center;
       }
       
       .card0 {
           box-shadow: 0px 4px 8px 0px #757575;
           border-radius: 14px;
       }
       
       .card2 {
           margin: 20px 0px;
           background: alicblue;
           border-radius: 14px;
       }
       
       .or {
           width: 10%;
           font-weight: bold;
       }
       
       .text-sm {
           font-size: 14px !important
       }
       
        ::placeholder {
           color: #BDBDBD;
           opacity: 1;
           font-weight: 300
       }
       
        :-ms-input-placeholder {
           color: #BDBDBD;
           font-weight: 300
       }
       
        ::-ms-input-placeholder {
           color: #BDBDBD;
           font-weight: 300
       }
       
       input,
       textarea {
           padding: 10px 12px 10px 12px;
           border: 1px solid lightgrey;
           border-radius: 2px;
           margin-bottom: 5px;
           margin-top: 2px;
           width: 100%;
           box-sizing: border-box;
           color: #2C3E50;
           font-size: 14px;
           letter-spacing: 1px
       }
       
       input:focus,
       textarea:focus {
           -moz-box-shadow: none !important;
           -webkit-box-shadow: none !important;
           box-shadow: none !important;
           border: 1px solid #304FFE;
           outline-width: 0
       }
       
       button:focus {
           -moz-box-shadow: none !important;
           -webkit-box-shadow: none !important;
           box-shadow: none !important;
           outline-width: 0
       }
       
       a {
           color: inherit;
           cursor: pointer;
           text-decoration: none;
       }
       
       .btn-blue {
           background-color: #1A237E;
           width: 150px;
           color: #fff;
           border-radius: 2px
       }
       
       .btn-blue:hover {
           background-color: #000;
           cursor: pointer
       }
       
       .bg-blue {
           color: #fff;
           background-color: #1A237E
       }
       
       @media screen and (max-width: 991px) {
           .image {
               width: 300px;
               height: 220px
           }
           .border-line {
               border-right: none
           }
           .card2 {
               border-top: 1px solid #EEEEEE !important;
               margin: 0px 15px
           }
       }
      
       
       .color {
           background: darkcyan;
       }
       
       .color1 {
           background-color: gray;
       }
       
       .siz {
           width: 550px;
           height: 500px;
       }
       
       @media screen and (max-width: 480px) {
           .siz {
               width: 360px;
               height: 300px;
           }
       }
       
       .mainbox {
           background-color: #95c2de;
           margin: auto;
           height: 600px;
           width: 600px;
           position: relative;
       }
       
       .err {
           color: #ffffff;
           font-family: 'Nunito Sans', sans-serif;
           font-size: 11rem;
           position: absolute;
           left: 20%;
           top: 8%;
       }
       
       .far {
           position: absolute;
           font-size: 8.5rem;
           left: 42%;
           top: 15%;
           color: #ffffff;
       }
       
       .err2 {
           color: #ffffff;
           font-family: 'Nunito Sans', sans-serif;
           font-size: 11rem;
           position: absolute;
           left: 68%;
           top: 8%;
       }
       
       .msg {
           text-align: center;
           font-family: 'Nunito Sans', sans-serif;
           font-size: 1.6rem;
           position: absolute;
           left: 16%;
           top: 45%;
           width: 75%;
       }

.banner {
  background: #a770ef;
  background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
  background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
}
@media screen and (min-width:480px){
    .desktop-4 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 352px;
  mix-blend-mode: normal;
  width: 100%;
}
.desktop-4 .componentlottie-208ypuhlx4json {
  height: 231px;
  left: 712px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 454px;
}
.desktop-4 .frame-6 {
  height: 352px;
  position: relative;
  width: 100%;
}
.desktop-4 .know-your-future {
  font-family: var(--font-family-ribeye_marrow);
  font-size: var(--font-size-l2);
  left: 290px;
  letter-spacing: 0;
  position: absolute;
  top: 22px;
}
.desktop-4 .overlap-group {
  height: 299px;
  left: 88px;
  position: absolute;
  top: 47px;
  width: 1305px;
}
.desktop-4 .span0 {
  color: var(--black);
}
.desktop-4 .span1 {
  color: var(--scarlet);
}
.desktop-4 .text-1 {
  color: #1630bb;
  font-family: var(--font-family-roboto_mono);
  font-size: var(--font-size-xs);
  left: 0;
  letter-spacing: 0.90px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 149px;
  width: 714px;
}
.desktop-4 .vector-2 {
  height: 115px;
  left: 36px;
  position: absolute;
  top: 12px;
  width: 158px;
}
.desktop-4 .vector-4 {
  height: 113px;
  left: 1145px;
  position: absolute;
  top: 186px;
  width: 160px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Ribeye+Marrow:400|Roboto+Mono:400");
* {
  box-sizing: border-box;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.screen a {
  text-decoration: none;
  display: contents;
}

}

@media screen and (max-width:480px){
   .android-6 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 640px;
  mix-blend-mode: normal;
  width: 100%;
}
.android-6 .componentlottie-208ypuhlx4json {
  height: 200px;
  margin-right: 1.0px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 263px;
}
.android-6 .frame-7 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 615px;
  margin-top: 25px;
  padding: 7.9px 9.4px;
  width: 100%;
}
.android-6 .know-your-future {
  left: 60px;
  letter-spacing: 0;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 39px;
  width: 256px;
}
.android-6 .overlap-group {
  height: 182px;
  margin-right: 20.0px;
  position: relative;
  width: 316px;
}
.android-6 .overlap-group1 {
  align-self: flex-end;
  height: 197px;
  margin-top: 18px;
  position: relative;
  width: 337px;
}
.android-6 .text-1 {
  color: var(--persian-blue);
  font-family: var(--font-family-roboto_mono);
  font-size: var(--font-size-m2);
  left: 0;
  letter-spacing: 0.72px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 333px;
}
.android-6 .vector-2 {
  height: 78px;
  left: 0;
  position: absolute;
  top: 0;
  width: 104px;
}
.android-6 .vector-4 {
  height: 87px;
  left: 218px;
  position: absolute;
  top: 110px;
  width: 119px;
}

* {
  box-sizing: border-box;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.screen a {
  text-decoration: none;
  display: contents;
}

}
@media screen and (min-width:480px){
    .assign{
        display:none;
    }
    .assign1{
        display:block;
    }
}
@media screen and (max-width:480px){
    .assign{
        display:block;
    }
    .assign1{
        display:none;
    }
}

.toggle-btn {
  width: 80px;
  height: 40px;
  margin: 10px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
 background:red;
  cursor: pointer;
  -webkit-transition: background-color 0.4s ease-in-out;
  -moz-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
  cursor: pointer;
}
.toggle-btn.active {
  background: cyan}
.toggle-btn.active .round-btn {
  left: 45px;
}
.toggle-btn .round-btn {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.toggle-btn .cb-value {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}
.form-control::placeholder {
  font-size: 1rem;
  color: #000;
  font-style: bold;
}

.line{
  height:60px;
    line-height:20px;
  overflow:hidden;

}

        </style>
        </head>
    <body>
        {{>header}}
        <div class="container-center-horizontal assign1">
  <div class="desktop-4 screen">
    <div class="frame-6">
      <img
        class="vector-2"
        src="https://anima-uploads.s3.amazonaws.com/projects/60c0df29c445eb8477e3598a/img/vector-2@2x.svg"
      />
      <div class="overlap-group">
        <img
          class="vector-4"
          src="https://anima-uploads.s3.amazonaws.com/projects/60c0df29c445eb8477e3598a/img/vector-4@2x.svg"
        />
        <img
          class="componentlottie-208ypuhlx4json"
          src="https://anima-uploads.s3.amazonaws.com/projects/60c0df29c445eb8477e3598a/img/-component-lottie-https---assets10-lottiefiles-com-packages-lf20@2x.png"
        />
        <div class="text-1">
          Explore this oppurntunity <br />to know the different ways to succeed<br />in the future
        </div>
      </div>
      <h1 class="know-your-future">
        <span class="span0">Know your <br /></span><span class="span1">Interest</span>
      </h1>
    </div>
  </div>
</div>
<div class="container-center-horizontal assign">
  <div class="android-6 screen">
    <div class="frame-7">
      <div class="overlap-group">
        <img
          class="vector-2"
          src="https://anima-uploads.s3.amazonaws.com/projects/60c0df29c445eb8477e3598a/img/vector-2@2x.svg"
        />
        <h1 class="know-your-future ribeyemarrow-normal-white-40px">
          <span>Know your <br /></span><span class="span ribeyemarrow-normal-scarlet-40px">Interest</span>
        </h1>
      </div>
      <img
        class="componentlottie-208ypuhlx4json"
        src="https://anima-uploads.s3.amazonaws.com/projects/60c0df29c445eb8477e3598a/img/-component-lottie-https---assets10-lottiefiles-com-packages-lf20@2x.png"
      />
      <div class="overlap-group1">
        <div class="text-1">
          Explore this oppourntunity <br />to know the different ways to reach<br />to your dream
        </div>
        <img
          class="vector-4"
          src="https://anima-uploads.s3.amazonaws.com/projects/60c0df29c445eb8477e3598a/img/vector-4@2x.svg"
        />
      </div>
    </div>
  </div>
</div>
        <div class="container-horizontal text-center pt-4" style="background: linear-gradient(to bottom, #ffffff 0%, #ffcc99 100%)">
          
   <form action='/secret' method="POST">
   <h1 class="font-weight-bold text-center he text-dark">Find your Dream<i class="fas fa-gift"></i></h1>
   <h4 class="text-primary text-center pb-2" style="font-family: '';">Now you have reached to the last step.<br>Fingers crossed!<br>
   Its time to search for your aim based upon the Interested subject of urs  or else<br>
   If u have  clear idea then dont wait for anything just search for it.
   </h4>
   <label class="morn align-center">Profession</label>
<div class="toggle-btn active">
 
  <input type="checkbox"  checked class="cb-value" />
  <span class="round-btn"></span>
 
</div>
<label class="morn align-center">Subject</label>
 
 <h3 class="text-center text-danger pt-2" style="font-family:'';">Just toggle the button to search on the basis of interest <br>
   subject or admired profession
 </h3>

    <div id="app">
        <div class="p-5 col-lg-8 mx-auto rounded shadow" style="background: linear-gradient(to bottom, #ffffff 0%, #ffcc99 100%)">
        <div class="input-group mb-4 border rounded-pill p-1" style="background:#99ffff">
            <input type="text" id="searchSubject" name="subjectName" placeholder="Type subject" aria-describedby="button-addon3" class="form-control bg-none text-dark border-0">
            <div class="input-group-append border-0">
              <button id="button-addon3" name="no" type="submit" class="btn btn-link text-success"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
    </div>
    
    <div id="app1" style="display:none">
       <div class="bg-white p-5 col-lg-8 mx-auto rounded shadow">
        <div class="input-group mb-4 border rounded-pill p-1" style="background:#ffff80">
            <input id="searchName" name="courseName" type="text" placeholder="Type Profession" aria-describedby="button-addon3" class="form-control bg-none border-0">
            <div class="input-group-append border-0">
              <button id="button-addon3" name="yes" type="submit" class="btn btn-link text-success"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
    </div>
     </form>
    </div>
  
      

    <h2 class="text-center mb-2 font-weight-bold art">RECOMMENDED PROFESSIONS</h2>
    <div class="container-fluid ">
  <div class="px-lg-5">
       <div class="row">
      {{#each post}}
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img style="height: fit-content;" src="{{this.imageurl}}" alt="" class="img-fluid card-img-top border">
          <div class="p-4 border">
            <h5 class="text-dark text-center">{{this.title}}</h5>
            <p class="small text-muted mb-0 line">{{this.description}}</p>
            <div class="d-flex align-items-center rounded-pill bg-light px-3 py-2 mt-4">
              <a href="/secret/{{this.id}}" class="badge mx-auto badge-info px-3 rounded-pill font-weight-normal">Visit</a>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    </div>
      </div>

<script>
  $(document).ready(function(){
//$('input.cb-value').prop("checked", true);
$('.cb-value').click(function() {
  var mainParent = $(this).parent('.toggle-btn');
  if($(mainParent).find('input.cb-value').is(':checked')) {
    $(mainParent).addClass('active');
    document.getElementById('app').style.display = 'block';
         document.getElementById('app1').style.display = 'none';

  } else {
    $(mainParent).removeClass('active');
    document.getElementById('app').style.display = 'none';
     document.getElementById('app1').style.display = 'block';
  

  }

})
  });
</script>
    <script>
        $(function(){
            $('#searchName').autocomplete({
                source: function(req,res){
                    console.log('hello');
                    $.ajax({
                        url:"autocomplete/",
                        dataType:"jsonp",
                        type:"GET",
                        data:req, 
                        success: function(data){
                           res(data);
                        },
                        error: function(err){
                            console.log(err.status);
                        }
                    });
                },
                minLength:1,
                select: function(event,ui){
                    if(ui.item){
                        $('#searchName').text(ui.item.label);
                    }
                }
            });
        });
        $(function(){
            $('#searchSubject').autocomplete({
                source: function(req,res){
                    $.ajax({
                        url:"autocomplete1/",
                        dataType:"jsonp",
                        type:"GET",
                        data:req, 
                        success: function(data){
                           res(data);
                        },
                        error: function(err){
                            console.log(err.status);
                        }
                    });
                },
                minLength:1,
                select: function(event,ui){
                    if(ui.item){
                        $('#searchSubject').text(ui.item.label);
                    }
                }
            });
        });
    </script>
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   </body>
</html>